
.site-header
 {min-width: 520px;
     height: 140px;
     margin-top: 20px;
    margin-bottom:20px;
     padding:24px;
     text-align: center;
    color: white;
    font-size: 24px;
     background:
     url("img/фон2.jpg") repeat #F5F5DC;
     border: 8px outset cornflowerblue;
 }
h1
  {
      margin:10px;
    color: white;
      font-family: "Bradley Hand", cursive;
      font-size: 56px;
      font-weight: bold;
  }
.sale
{
    margin-top: 10px;
    padding: 10px 15px;
    color: orange;
font-family: "Bradley Hand", cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    background: url(img/фон3.jpg)
}
h2{
    text-align:center;
    border-bottom: 2px solid #bbbbbb ;
    padding-bottom: 5px
}
.list
{font-size:18px;
list-style: none;
}
.item1
{list-style-image: url(img/смартфон.png)
}
.item2
{list-style-image: url(img/комп.png)
}
.item3
{list-style-image: url(img/телек.png)
}
.item4
{list-style-image: url(img/быт.png)
}
.item5
{list-style-image: url(img/фото.png)
}
.item6
{list-style-image: url(img/аксессуары.png)
}
.item7
{list-style-image: url(img/игра.png)
}
.about{
    border: 4px solid darkgray ;
    background-color: seashell;
    font-family: "Bradley Hand", cursive;
    font-size: 18px
}

.site-footer
{min-width: 550px;
    height: 40px;
    background-color: aquamarine;
    color: #000000;
}
.site-footer p
{text-align: center
}